* {
    scroll-behavior: smooth;
    box-sizing: border-box;
}
.body {
    max-width: 1280px;
    margin: 0 auto;
    box-shadow: 0 0 3px black;
}
.header {
    display: flex;
    align-items: center;
    height: 100px;
    padding: 0 50px 0 50px;
    background-color: #0f3c61;
}
.nav {
    width: 100%;
    
}
.nav-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
    list-style-type: none;
    padding: 0;
}
.nav__link {
    position: relative;
    text-decoration: none;
    color: aliceblue;
}
.nav__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    background-color: aliceblue;
    height: 2px;
    width: 0;
    transition: width 0.3s ease-in-out;
}
.nav__link:hover {
    text-shadow: 0 0 5px black;
    transition: 0.2 ease-in-out;
}
.nav__link:hover::after {
    width: 100%;
}